{{ template "header" }}
    <div class="container">
        {{ if .DetailsData }}

        <div class="details-wrapper">
            <h1 class="page-title-details">{{ .DetailsData.Name }}</h1>

            <div class="left-details">
                <div><span class="detail">Reference:</span><span>{{ .DetailsData.Permalink }}</span></div>
                <div><span class="detail">Start Date:</span><span>{{ .DetailsData.StartDate }}</span></div>
                <div><span class="detail">Country:</span><span>{{ .DetailsData.Country }}</span></div>
                <div><span class="detail">Status:</span><span>{{ .DetailsData.Status }}</span></div>
                <div><span class="detail">Nework:</span><span>{{ .DetailsData.Network }}</span></div>
                <div><span class="detail">Rating:</span><span>{{ .DetailsData.Rating }}</span></div>
                {{ if .DetailsData.YouTube }}
                <div class="trailer-link">
                    <i class="icon-youtube-play"></i>
                    <a target="_blank" href="https://youtube.com/watch?v={{ .DetailsData.YouTube }}">Watch Trailer</a>
                </div>    
                {{ end }}
                {{ if .IsAdded }}
                <button class="remove-item" data-ref="{{ .DetailsData.Permalink }}">
                    REMOVE SHOW 
                </button> 
                {{ else }}
                <button class="add-show" data-ref="{{ .DetailsData.Permalink }}">
                    ADD SHOW 
                </button> 
                {{ end }}
            </div>
            <div class="right-details">    
                {{ if .DetailsData.Image }}
                    <img src="{{ .DetailsData.Image }}" />
                {{ end }}    
            </div>
        </div>    
        <div class="description">   

            <h2>Description</h2>
            <div>{{ .Desc }}</div>

        </div>   
        <div class="episodes">
            <h2>Episodes</h2>
            <ul>
            {{ $number := 0 }}    
            {{ range .DetailsData.Episodes }}
                {{ if (ne .Season $number) }}
                    {{ $number = .Season }}
                    <h3>Season {{ $number }}</h3>
                {{ end }}
                <li>
                    <span>E{{ .Episode }} -</span>
                    <strong>{{ .Name }}:</strong>
                    {{ .AirDate }}
                </li>    
            {{ end }}
            </ul>
        </div>    
        {{ else }}
        <div>No Results found for {{ .Query }}</div>
        {{ end }}
    </div>
{{ template "footer" }}        