html {
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #43454c;
    background: #0f2439;
    color: #fff;
    height: 100%;
}
*:focus {
    outline: none;
}
.container {
    width: 800px;
    margin: 0 auto;
    min-height: calc(100% - 260px);
}
header {
    background: #31323a;
    background: #1f364d;
}
.header-wrap {
    display: flex;
    position: relative;
}
button {
    cursor: pointer;
}
.logo {
    position: relative;
    top: 0;
    margin: 12px 8px 12px 0;
}
.logo a {
    position: relative;
    top: 1px;
    color: #fff;
    padding: 5px;
}
.logo a:hover {
    background: #363842;
    transition: linear .3s all;
}
.search-form {
    position: relative;
    top: 8px;
}
.search {
    padding: 13px 6px;
    width: 450px;
    font-size: 17px;
    letter-spacing: 1px;
    border: 0;
}
input.search:focus {
    outline-width: 0;
}
.page-title {
    text-align: center;
    margin: 60px 0;
    color:#63809c;
}
.query {
    text-decoration: underline;
    color: #fff;
}
.search_button {
    background: blue;
    color: #fff;
    padding: 12px 8px 12px 8px;
    border: 0;
    font-size: 1.2rem;
    position: absolute;
    right: 0px;
    top: 0px;
}
.search_button:focus {
    outline: none;
}
.search-icon {
    font-size: 24px;
    position: relative;
    bottom: 4px;
}
.update-btn {
    position: absolute;
    right: 0;
    top: 7px;
    background-image: linear-gradient(to right,#e052a0,#f15c41);
    border: 0;
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
    padding: 14px 10px;
}
.update-btn:hover {
    background-image: linear-gradient(to right,#3ec7e0,#526bf4);;
    transition: linear .3s all;
}
.pagination-wrapper {
    text-align: center;
    margin: 40px 0;
}
.pagination {
    list-style: none;
    margin: 0;
    padding: 0;
}
.pagination li {
    display: inline-block;
    background: #274461;
    cursor: pointer;
    margin: 2px;
}
.pagination li a {
    text-decoration: none;
    color: white;
    padding: 8px 0;
    display: inline-block;
    font-weight: bold;
    width: 45px;
}
.page-true {
    background: #4799eb;
}
.show-result {
    margin-bottom: 10px;
    background: #fff;
    padding: 20px;
}
.show-details {
    line-height: 25px;
    color: #000;
}
.detail {
    font-weight: bold;
    margin-right: 10px;
}
.details-link {
    color: #31323a;
    text-decoration: none;
    font-weight: bold;
}
.add-show {
    background: #1e7e34;
    border: 0;
    padding: 10px;
    margin-top: 10px;
    color: #fff;
    font-weight: bold;
}
.add-show:hover {
    background: #218838;
}
.add-show:focus {
    box-shadow: 0 0 0 0.2rem rgba(40,167,69,.5);
}
.add-show:before {
    content: '\e802'; 
    font-family: "fontello";
}
.remove-item {
    background: #dc3545;
    border: 0;
    padding: 10px;
    color: #fff;
    font-weight: bold;
    margin-top: 10px;
}
.remove-item:hover {
    background: #c82333;
}
.remove-item:before {
    content: '\e803'; 
    font-family: "fontello";
}   
.remove-item:focus {
    box-shadow: 0 0 0 0.2rem rgba(220,53,69,.5);
}
table {
    width: 100%;
}
table .remove-item {
    float: right;
}
table td {
    width: 50%;
    height: 30px;
    font-size: 22px;
}
.show-name {
    font-size: 27px;
    font-weight: bold;
    margin-right: 10px;
    color: #363842;
    text-decoration: none;
}
.show-name:hover {
    color: rgb(21, 21, 218);
}
.status {
    color: white;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 25px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 10px 0;
    position: relative;
    bottom: 3px;
    background: #363842;
}
footer {
    background: #0c1f31;
    display: flex;
    margin-top: 40px;
}
.about {
    margin: 40px 0;
    color: #fff;
}
.code-link {
    color: silver;
}
.details-wrapper {
    margin: 20px 0;
    overflow: auto;
    color: #363842;
    background: #fff;
    padding-bottom: 20px;
}
.page-title-details {
    background: #1f364d;
    color: white;
    margin-top: 0;
    padding: 10px 20px;
}
.left-details {
    float: left;
    width: 50%;
    line-height: 40px;
    font-size: 22px;
    padding-left: 20px;
    box-sizing: border-box;
}
.right-details {
    float: right;
    width: 50%;
    text-align: right;
    padding-right: 20px;
    box-sizing: border-box;
}
.right-details img {
    width: 100%;
}
.description {
    clear: both;
    font-size: 22px;
    line-height: 35px;
    color: #fff;
    color: #363842;
    background: #fff;
    padding: 20px;
}
.details-permalink {
    font-size: 25px;
    font-weight: bold;
    margin-right: 10px;
    color: #31323a;
    margin-bottom: 10px;
}
.note {
    color: grey;
    margin-left: 10px;
    font-size: 14px;}
.trailer-link a {
    color: #31323a;
    font-weight: bold;
    text-decoration: none;
    font-size: 18px;}
.amber-msg {
    text-align: center;
    background: orange;
    font-weight: bold;
    padding: 15px 0; 

}
.spinner {
    display: inline-block;
    animation:spin 1.3s linear infinite;

}
@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}

.good-msg {
    text-align: center;
    background: #218838;
    font-weight: bold;
    padding: 15px 0;
}
.error-msg {
    text-align: center;
    font-weight: bold;
    background: #dc3545;
    padding: 15px 0;
}
.episodes {
    background: white;
    color: #31323a;
    padding: 22px;
    box-sizing: border-box;
    margin-top: 15px;
    font-size: 21px;
}
.episodes ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.episodes ul li {
    margin-bottom: 10px;
}
.trailer {
    background: #fff;
    text-align: center;
    padding: 20px;
    margin-bottom: 15px;
}
.wrap {
    background: #fff;
    padding: 20px;
    margin-bottom: 15px;
    color:#31323a;
}
.wrap ul {
    list-style: none;
}