html {
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #363842;
    color: #fff;
    height: 100%;
}
*:focus {
    outline: none;
}
.container {
    width: 800px;
    margin: 0 auto;
    min-height: calc(100% - 260px);
}
header {
    background: #31323a;
}
.header-wrap {
    display: flex;
    position: relative;
}
button {
    cursor: pointer;
}
.logo {
    position: relative;
    top: 0;
    margin: 12px 8px 12px 0;
}
.logo a {
    position: relative;
    top: 1px;
    color: #fff;
    padding: 5px;
}
.logo a:hover {
    background: #363842;
    transition: linear .3s all;
}
.search-form {
    position: relative;
    top: 8px;
}
.search {
    padding: 13px 6px;
    width: 450px;
    font-size: 17px;
    letter-spacing: 1px;
    border: 0;
}
input.search:focus {
    outline-width: 0;
}
.page-title {
    text-align: center;
    margin: 60px 0;
    color:#979797;
}
.query {
    text-decoration: underline;
    color: #fff;
}
.search_button {
    background: blue;
    color: #fff;
    padding: 12px 8px 12px 8px;
    border: 0;
    font-size: 1.2rem;
    position: absolute;
    right: 0px;
    top: 0px;
}
.search_button:focus {
    outline: none;
}
.search-icon {
    font-size: 24px;
    position: relative;
    bottom: 4px;
}
.update-btn {
    position: absolute;
    right: 0;
    top: 7px;
    background: #ff9800;
    border: 0;
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
    padding: 14px 10px;
}
.update-btn:hover {
    background: #cc7d0a;
    transition: linear .3s all;
}
.pagination-wrapper {
    text-align: center;
    margin: 40px 0;
}
.pagination {
    list-style: none;
    margin: 0;
    padding: 0;
}
.pagination li {
    display: inline-block;
    background: #2196F3;
    cursor: pointer;
    margin: 2px;
}
.pagination li a {
    text-decoration: none;
    color: white;
    padding: 8px 0;
    display: inline-block;
    font-weight: bold;
    width: 45px;
}
.page-true {
    background: black;
}
.show-result {
    margin-bottom: 40px;
}
.show-details {
    line-height: 25px;
}
.detail {
    font-weight: bold;
    margin-right: 10px;
}
.details-link {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.add-show {
    background: #1e7e34;
    border: 0;
    padding: 5px 10px;
    margin-top: 10px;
    color: #fff;
    font-weight: bold;
}
.add-show:hover {
    background: #218838;
}
.add-show:focus {
    box-shadow: 0 0 0 0.2rem rgba(40,167,69,.5);
}
.add-show:before {
    content: '\e802'; 
    font-family: "fontello";
}
.remove-item {
    background: #dc3545;
    border: 0;
    padding: 5px 10px;
    color: #fff;
    font-weight: bold;
    margin-top: 10px;
}
.remove-item:hover {
    background: #c82333;
}
.remove-item:before {
    content: '\e803'; 
    font-family: "fontello";
}   
.remove-item:focus {
    box-shadow: 0 0 0 0.2rem rgba(220,53,69,.5);
}
table {
    width: 100%;
}
table td {
    width: 50%;
    height: 30px;
    font-size: 22px;
}
.show-name {
    font-size: 25px;
    font-weight: bold;
    margin-right: 10px;
    color: #2196F3;
    text-decoration: none;
}
.show-name:hover {
    color: rgb(21, 21, 218);
}
.status {
    color: white;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 25px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 10px 0;
    position: relative;
    bottom: 3px;
}
.status-ended, .status-canceled-ended {
    background: #dc3545;
}
.status-in-development, .status-to-be-determined {
    background: #00bcd4;
}
.status-running, .status-new-series, .status-returning-series {
    background: #28a745;
}
footer {
    background: #000;
    display: flex;
    margin-top: 40px;
}
.about {
    margin: 40px 0;
    color: #fff;
}
.code-link {
    color: silver;
}
.details-wrapper {
    margin: 80px 0;
    overflow: auto;
}
.left-details {
    float: left;
    width: 50%;
    line-height: 40px;
    font-size: 22px;
}
.right-details {
    float: right;
    width: 50%;
    text-align: right;
}
.right-details img {
    width: 100%;
}
.description {
    clear: both;
    font-size: 22px;
    line-height: 35px;
    color: #fff;
}
.details-permalink {
    font-size: 25px;
    font-weight: bold;
    margin-right: 10px;
    color: #2196F3;
    margin-bottom: 10px;
}
.trailer-link a {
    color: #fff;
}